html {
	margin: 0;
}

.box{
	background-color: #C0C0C0;
	margin: 1%;
	border-radius: 20px; 
	overflow: auto;
	border: 1px solid black;
	padding: 0px;
}

.tableMod{
	border-radius: 20px;
	margin-top: 4%;
	margin-bottom: 4%; 
	width: 90%; 
	background-color: white;
	border-collapse: collapse;
}

table, td, th , tr{    
    text-align: center;
}

tr:nth-child(even){background-color: #A0A0A0}

th{
	font-size: 15px;
	font-family: Arial;
}

 td {
	padding: 10px;
}

 


